<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<h2>Edit Profile</h2>

<div id = "start">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <p> {{ self.object.pk }} </p>
    <div class="form-group">
        <label for="id_username">Username</label>
        <input class="form-control" id="id_username" type="text" name="username" value="{{ form.instance.username }}" maxlength="100" required/>
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input class="form-control" id="id_password" type="password" name="password" value="{{ form.instance.password }}" required/>
    </div>
    <div class="form-group">
        <label for="id_first_name">First Name</label>
        <input class="form-control" id="id_first_name" type="text" name="first_name" value="{{ form.instance.first_name }}" maxlength="100" required/>
    </div>
    <div class="form-group">
        <label for="id_last_name">Last Name</label>
        <input class="form-control" id="id_last_name" type="text" name="last_name" value="{{ form.instance.last_name }}" maxlength="100" required/>
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        <input class="form-control" id="id_email" type="text" name="email" value="{{ form.instance.email }}" maxlength="100" required/>
    </div>
    <br>
    <br>
    <button type="submit" class="buton" style = "font-size: 1.5em; padding: 10px;">Save</button>
</form>

{% endblock %}
