
{% extends 'layout.html' %} {% block title %}Home{% endblock %} {% block content %}
<link rel="stylesheet" href="/static/css/home.css">

  <div class="container-fluid" style="margin-top: 15%;">

    <div style="width:80%; min-height: 90%;  margin: 0 auto; background-color: white; padding: 50px;  border-radius: 25px;  box-shadow: 2px 2px 2px grey; ">
    	<div style="text-align: center;">
    		 <br>
<h2 style="color:#f05f40;">Our mission</h2>
	 <br>
 <hr class="my-4">
 <br>
</div>
<div style="width: 80%;margin: 0 auto;">
	We know that eating is one of the most important factors contributing to a healthy and happy life. However, most of the time, time does not allow us to cook at home, so we have to look for our favorite dishes in a huge  and intimidating  range of restaurants. Or maybe we feel fancy or want to celebrate a special occasion, so we want to eat in the city. Our task is to ease choosing a locality in these cases.
	 <br>
	 <hr class="my-4">
	  <br>
	Our greatest priority is that you always get the most appropriate meal without having to browse through restaurants menus for a few minutes only  to find out if they are selling what you want. Let's imagine a scenario. After a few moments, which seem like an eternity on an empty stomach, you will find a restaurant that seems to be right and you realize it is 5 kilometers away from your location. Scary scenario, right? This is the moment when we intervene! We want to give you the chance, with just one click, to get a selection of the most suitable restaurants around you that will surely satisfy your preferences. After that, all you have to do is go and eat your favourite meal. It is that easy!
	</div>
</div>
</div>

{% endblock %}
