

{% extends 'layout_no_menu.html' %} {% block title %}Login{% endblock %} {% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/login.css">
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
       <ul class="navbar-nav ml-auto">
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'index' %}"> <i class="fas fa-long-arrow-alt-left"></i> Go back to first page</a>
            </li>
</nav> 
<div class="vertical-center" >
   <div style="width:100%;">
      <div class="row">
         <div class="col-md-12">
            <form method="POST" enctype="multipart/formdata" class="form">
               {% csrf_token %}
              
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-6 mx-auto text-center">

                         <img src="/static/images/logo.png" width="350px" style="margin: 25px;">
                           <br>
                           <hr class="light my-4">
                           <div class="input-group mb-3">
                              <br>
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
                                 <i class="glyphicon glyphicon-user"></i>
                              </div>
                              <input type="text" class="form-control" aria-label="Username" name="username" placeholder="Username" aria-describedby="basic-addon1" id="id_username">
                           </div>
                           <br>
                           <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                              </div>
                              <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required="">
                           </div>
                           <br> 
                           <div style="width: 100%; text-align: center; color: #f05f40;  font-size: 20px; font-weight: bold;">
                              {% if form.errors %}
                              <div role="alert" style="color: red;">
                                 {{ form.errors }}
                              </div>
                              {% endif %}
                              {{ error_message }}
                           </div>
                           <br>
                           <div style="width: 100%; text-align: center;">
                              <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"" style="min-width: 60%; margin: 10px;">Login!</button>
                           </div>
          
                        </div>
                     </div>
                  </div>
               </section>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}

