<link rel="stylesheet" href="/static/css/menu.css">

<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img alt="Brand" src="/static/images/logo.png" style="width: 100px; margin-top: -15px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li>
            <a href="{% url 'search' %}">Search restaurants</a>
        </li>
         <li>
            <a href="{% url 'profile' pk=user.profile.pk %}">User Profile</a>
        </li>

        {% if not request.user.is_authenticated %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        {% else %}
        <li>
            <p class="navbar-text">Hello, {{ user.get_username }}!</p>
        </li>

        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>