{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">

<div class="vertical-center" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div style="width:90%; margin: 0 auto; background-color: white; padding: 50px;  border-radius: 25px;  box-shadow: 2px 2px 2px grey; ">
         <div>
           <h2>Hello, {{ userprofile.user.username }}!</h2>
        <div class="centered">
          <h1>{{ userprofile.user.first_name }} {{ userprofile.user.last_name}}' profile</h1>
        </div>
  <h3>Email: {{ userprofile.user.email }}</h3>
 	<h3>Favourite restaurants:</h3>
 	{% for restaurant in userprofile.favourites.all %}
      <p>{{ restaurant.name }}</p>
 	{% endfor %}
  <h3>Preferences:</h3>
  {% for keyword in userprofile.preferences.all %}
    <p>{{ keyword.name }}</p>
  {% endfor %}
  <a href = "/profile/{{ user.profile.pk }}/update">
  	<button class = "btn-success">
  		Edit Profile
  	</button>
  </a>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
