

{% extends 'layout.html' %}
{% block title %}Search for Restaurants{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/search.css">
<div class="container-fluid" style="margin-top: 5%;">
   <div style="width:80%; min-height: 90%;  margin: 0 auto; background-color: white; padding: 50px;  border-radius: 25px;  box-shadow: 2px 2px 2px grey; ">
      <div style="text-align: center;">
         <h2 style="color:#f05f40;">Discover new restaurants near you!</h2>
         <hr class="my-4">
         <div>
            Here you have will find a list of all the restaurants around you. Also, you can see which of your all time favourites are nearby. If you want to spice it up and discover new places which would suit your preferences, just press the Recommend button!
         </div>
      </div>
      <div style="text-align: center;margin: 35px;">
		      <button id="recommendButton" onclick="onClickRecommend()" class="btn btn-primary btn-xl js-scroll-trigger" style="margin:5px;">Recommend</button> 
		      <button id="showMap" onclick="onClickSeeOnMap()" class="btn btn-primary btn-xl js-scroll-trigger" style="margin:5px;">Show Map</button>
  	  </div>

	 <div style="display: none; text-align: center; margin-top: 35px; height: 300px;" id="mapdiv">
	      <div id="map" style="/*display: none;  /*min-width: 100%; height:: 700px;*/"></div>
	  </div>


      <div style="text-align: center; margin-top: 15px;">
      	<h4 style="color:#f05f40;">Around you</h4>
      	 <hr class="my-4">
     	 <ul id='restaurantsList' class="list-group" style="width:80%; margin: 0 auto; text-align: left;"></ul>
  	  </div>
      
       <div style="text-align: center; margin-top: 35px;">
      	<h4 style="color:#f05f40;">Favourites around</h4>
      	<hr class="my-4">
	      <ul id="favoritesList" class="list-group" style="width:80%; margin: 0 auto; text-align: left;"">
	      </ul>
  	  </div>
   </div>
</div>
{% endblock %}	
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe06JHnX5ODl9vT0MrKoPsb4gCRu06Tug&sensor=false&libraries=places" type="text/javascript"></script>
 
	 <script>
	 let restaurants_info = [];
	 let markers = [];
	 let map = null;
	 let restaurants_names = [];
	 onLoad();

	 function onClickRecommend(){

	 	$.ajax({
			type: "GET",
			url: "search_request",
			data: {'names': restaurants_names},
			dataType: "json",
			success: function(result){

				for (let i = 0; i < markers.length; i++){
					markers[i].setMap(null);
				}

   				let colors = ['#f05f40', ' #F16F53', '#f37e66', '#f48f79', '#f69f8c'];
   				let hex_colors = ['f05f40', 'F16F53', 'f37e66', 'f48f79', 'f69f8c'];

				for (var i = 0; i < result.length; i++){
					var lat_lng = result[i].split('T')
		 			var myLatlng = new google.maps.LatLng(parseFloat(lat_lng[0]), parseFloat(lat_lng[1]));

		 			for (let j = 0; j < restaurants_info.length; j++){
		 				let aux = restaurants_info[j].geometry.location;
		 				if (myLatlng.lat() == aux.lat() && myLatlng.lng() == aux.lng()){
		 					let exchange = restaurants_names[i];
		 					restaurants_names[i] = restaurants_names[j];
		 					restaurants_names[j] = exchange;

		 					exchange = restaurants_info[j];
		 					restaurants_info[i] = restaurants_info[j];
		 					restaurants_info[j] = exchange;
		 					break;
		 				}
		 			}

		 			let pinColor = hex_colors[i];
		 			var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        				new google.maps.Size(21, 34),
        				new google.maps.Point(0,0),
        				new google.maps.Point(10, 34));

		 			var marker = new google.maps.Marker({
		 				map: map,
		 				position: myLatlng,
		 				icon: pinImage
		 			});
		 			markers[i] = marker
		 		}

		 		let ul = document.getElementById("restaurantsList");
		 		while(ul.firstChild){
		 			ul.removeChild(ul.firstChild);
		 		}

		 		for (let i = 0; i < restaurants_names.length; i++){
					let li = document.createElement("li");
					li.appendChild(document.createTextNode(restaurants_names[i]));
					li.classList.add("list-group-item");
					let a =  document.createElement("a");
					if (i < colors.length){
						li.style.background = colors[i];
						a.classList.add("btn-light");
					}
					else 
						a.classList.add("btn-primary");

					a.classList.add("btn");
					a.classList.add("btn-xl");
					a.classList.add("js-scroll-trigger");
					a.style.float="right";
					a.innerText = "Pinpoint";
					
					a.onclick = function(){
						console.log(i);
						for (let j = 0; j < markers.length;j++){
							if (j != i){
								markers[j].setMap(null);
							}else{
								markers[j].setMap(map);
								window.scrollTo(0, 0);
								let markerBounds = new google.maps.LatLngBounds();
								markerBounds.extend(markers[j].position);
								let lat = markers[j].position.lat();
								let lng = markers[j].position.lng();
								var myLatlng = new google.maps.LatLng(lat + 0.001, lng + 0.001);
								markerBounds.extend(myLatlng);
								myLatlng = new google.maps.LatLng(lat - 0.001, lng - 0.001);
								markerBounds.extend(myLatlng);
								map.fitBounds(markerBounds);

							}
						}
					}

					li.appendChild(a);

					ul.appendChild(li);
				}

		 	},
		 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
	        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
	    	} 
	 	});

	 	document.getElementById("recommendButton").style.display = "none";

	 }

	 function initialize() {
			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch(request, function(results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					var restaurants_names = []
					for (var i = 0; i < results.length; i++){
						restaurants_names.push(results[i]['name'])
					}
					$.ajax({
					 	type: "GET",
					 	url: "search_request",
					 	data: {'names': restaurants_names},
					 	dataType: "json",
					 	success: function(result){
					 		for (var i = 0; i < result.length; i++){
					 			var lat_lng = result[i].split('T')

					 			var myLatlng = new google.maps.LatLng(parseFloat(lat_lng[0]), parseFloat(lat_lng[1]));

					 			var marker = new google.maps.Marker({
									map: map,
									position: myLatlng
								});
					 		}
					 	},
					 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
				        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
				    	} 
					 });
				}
			});
			var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
			var marker = new google.maps.Marker({map: map, position: localPosition, icon: image});
		  }

	function onClickSeeOnMap() {
		let map = document.getElementById("mapdiv");
		if (map.style.display == "block"){
			map.style.display = "none";
			document.getElementById("showMap").innerText = "Show Map";
		}
		else{
			map.style.display = "block";
			document.getElementById("showMap").innerText = "Hide Map";;
		}
	}

	function onLoad() {
		myLocation = navigator.geolocation;
		 
		 options = {
			enableHighAccuracy: true,
			timeout: 10000,
			maximumAge:60000,
		 }
		 myLocation.getCurrentPosition(success, failure, options);
		 
		 function success(position){
			myLat = position.coords.latitude;
			myLong = position.coords.longitude;
		 	//myLat = 44.439663;
		 	//myLong = 26.096306
		 	//myLat = 44.411379;
		 	//myLong = 26.172406;
		 	myLat = 44.435616
		 	myLong = 26.100850
			var localPosition = new google.maps.LatLng(myLat, myLong);

			map = new google.maps.Map(document.getElementById('map'), {
				center: localPosition,
				zoom: 15,
				scrollwheel: true
			});
			var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + "696969",
        		new google.maps.Size(21, 34),
        		new google.maps.Point(0,0),
        		new google.maps.Point(10, 34));

		 	var marker = new google.maps.Marker({
		 		map: map,
		 		position: localPosition,
		 		icon: pinImage
		 	});

			var request = {
				location: localPosition,
				radius: '1000',
				types: ['restaurant']
			};

			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch(request, function(results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					restaurants_info = results;
					restaurants_names = []
					for (var i = 0; i < results.length; i++){
						restaurants_names.push(results[i]['name'])
					}

					var ul = document.getElementById("restaurantsList");
					for (let i = 0; i < restaurants_names.length; i++){
						let li = document.createElement("li");
						li.appendChild(document.createTextNode(restaurants_names[i]));
						li.classList.add("list-group-item");
						let a = document.createElement("a");
						a.classList.add("btn");
						a.classList.add("btn-primary");
						a.classList.add("btn-xl");
						a.classList.add("js-scroll-trigger");
						a.style.float="right";
						a.innerText = "Pinpoint";
						
						a.onclick = function(){
							console.log(i);
							for (let j = 0; j < markers.length;j++){
								if (j != i){
									markers[j].setMap(null);
								}else{
									markers[j].setMap(map);
									window.scrollTo(0, 0);
									let markerBounds = new google.maps.LatLngBounds();
									markerBounds.extend(markers[j].position);
									let lat = markers[j].position.lat();
									let lng = markers[j].position.lng();
									var myLatlng = new google.maps.LatLng(lat + 0.001, lng + 0.001);
									markerBounds.extend(myLatlng);
									myLatlng = new google.maps.LatLng(lat - 0.001, lng - 0.001);
									markerBounds.extend(myLatlng);
									map.fitBounds(markerBounds);
								}
							}
						}

						li.appendChild(a);

						ul.appendChild(li);
					}

					for (var i = 0; i < results.length; i++){
						var myLatlng = results[i].geometry.location;

						var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + "FF0000",
        				new google.maps.Size(21, 34),
        				new google.maps.Point(0,0),
        				new google.maps.Point(10, 34));

					 	var marker = new google.maps.Marker({
							map: map,
							position: myLatlng,
							icon: pinImage
						});
						markers.push(marker);
					}


					$.ajax({
						type: "GET",
						url: "favorites_around",
						data: {'names': restaurants_names},
						dataType: "json",
						success: function(result){

					 		let ul = document.getElementById("favoritesList");

					 		for (let i = 0; i < result.length; i++){
								let li = document.createElement("li");
								li.appendChild(document.createTextNode(result[i]));
								li.classList.add("list-group-item");
								
								let a = document.createElement("a");
								a.classList.add("btn");
								a.classList.add("btn-primary");
								a.classList.add("btn-xl");
								a.classList.add("js-scroll-trigger");
								a.style.float="right";
								a.innerText = "Pinpoint";
								
								a.onclick = function(){
									console.log(i);
									for (let j = 0; j < markers.length;j++){
										if (j != i){
											markers[j].setMap(null);
										}else{
											markers[j].setMap(map);
											window.scrollTo(0, 0);
											let markerBounds = new google.maps.LatLngBounds();
											markerBounds.extend(markers[j].position);
											let lat = markers[j].position.lat();
											let lng = markers[j].position.lng();
											var myLatlng = new google.maps.LatLng(lat + 0.001, lng + 0.001);
											markerBounds.extend(myLatlng);
											myLatlng = new google.maps.LatLng(lat - 0.001, lng - 0.001);
											markerBounds.extend(myLatlng);
											map.fitBounds(markerBounds);
										}
									}
								}
								li.appendChild(a);
								ul.appendChild(li);

							}

							if (result.length == 0){
								document.getElementById("favoritesAroundHeader").display = "none";
							}

					 	},
					 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
				        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
				    	} 
				 	});
				}
			});
		}

		function failure(){
			$('#map').html('<p> Cannot get coordinates. Please activate your location tracking </p>');
		}
	}

   </script>
{% endblock %}

