{% extends 'layout.html' %}

{% block title %}Search for Restaurants{% endblock %}

{% block content %}
   <link rel="stylesheet" href="/static/css/search.css">

   <div class="container" style="margin-top: 20%;">
   	<button id="recommendButton" onclick="onClickRecommend()">Recommend</button>
   	<button id="showMap" onclick="onClickSeeOnMap()">Show Map</button>
   	<ul id='restaurantsList' class="list-group" style="width:fit-content; position: absolute;"></ul>

    <div id="map" style="display: none; width: 40%; position: absolute"></div>
	</div>
	{% endblock %}	
	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe06JHnX5ODl9vT0MrKoPsb4gCRu06Tug&sensor=false&libraries=places" type="text/javascript"></script>
	 
	 <script>
	 let restaurants_info = [];
	 let markers = [];
	 let map = null;
	 let restaurants_names = [];
	 onLoad();

	 function onClickRecommend(){

	 	$.ajax({
			type: "GET",
			url: "search_request",
			data: {'names': restaurants_names},
			dataType: "json",
			success: function(result){

				for (let i = 0; i < markers.length; i++){
					markers[i].setMap(null);
				}

				markers = [];
				let colors = ['green', 'red', 'blue', 'yellow', 'purple'];
				let hex_colors = ['00FF00', 'FF0000', '0000FF', 'FFFF00', '551A8B'];

				for (var i = 0; i < result.length; i++){
					var lat_lng = result[i].split('T')
		 			var myLatlng = new google.maps.LatLng(parseFloat(lat_lng[0]), parseFloat(lat_lng[1]));

		 			for (let j = 0; j < restaurants_info.length; j++){
		 				let aux = restaurants_info[j].geometry.location;
		 				if (myLatlng.lat() == aux.lat() && myLatlng.lng() == aux.lng()){
		 					let exchange = restaurants_names[i];
		 					restaurants_names[i] = restaurants_names[j];
		 					restaurants_names[j] = exchange;

		 					exchange = restaurants_info[j];
		 					restaurants_info[i] = restaurants_info[j];
		 					restaurants_info[j] = exchange;
		 					break;
		 				}
		 			}

		 			let pinColor = hex_colors[i];
		 			var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        				new google.maps.Size(21, 34),
        				new google.maps.Point(0,0),
        				new google.maps.Point(10, 34));

		 			var marker = new google.maps.Marker({
		 				map: map,
		 				position: myLatlng,
		 				icon: pinImage
		 			});
		 			markers.push(marker);
		 		}

		 		let ul = document.getElementById("restaurantsList");
		 		while(ul.firstChild){
		 			ul.removeChild(ul.firstChild);
		 		}

		 		for (let i = 0; i < restaurants_names.length; i++){
					let li = document.createElement("li");
					li.appendChild(document.createTextNode(restaurants_names[i]));
					li.classList.add("list-group-item");
					if (i < colors.length){
						li.style.background = colors[i];
					}
					ul.appendChild(li);
				}

			 	//var marker = new google.maps.Marker({
				//	map: map,
				//	position: myLatlng
				//});	

		 	},
		 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
	        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
	    	} 
	 	});

	 	document.getElementById("recommendButton").style.display = "none";

	 }

	 function initialize() {
			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch(request, function(results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					var restaurants_names = []
					for (var i = 0; i < results.length; i++){
						restaurants_names.push(results[i]['name'])
					}
					$.ajax({
					 	type: "GET",
					 	url: "search_request",
					 	data: {'names': restaurants_names},
					 	dataType: "json",
					 	success: function(result){
					 		for (var i = 0; i < result.length; i++){
					 			var lat_lng = result[i].split('T')

					 			var myLatlng = new google.maps.LatLng(parseFloat(lat_lng[0]), parseFloat(lat_lng[1]));

					 			var marker = new google.maps.Marker({
									map: map,
									position: myLatlng
								});
					 		}
					 	},
					 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
				        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
				    	} 
					 });
				}
			});
			var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
			var marker = new google.maps.Marker({map: map, position: localPosition, icon: image});
		  }

	function onClickSeeOnMap() {
		let map = document.getElementById("map");
		if (map.style.display == "inline"){
			map.style.display = "none";
			document.getElementById("showMap").innerText = "Show Map";
		}
		else{
			map.style.display = "inline";
			document.getElementById("showMap").innerText = "Hide Map";
			window.scrollTo(0, window.innerHeight);
		}
	}

	function onLoad() {
		myLocation = navigator.geolocation;
		 
		 options = {
			enableHighAccuracy: true,
			timeout: 10000,
			maximumAge:60000,
		 }
		 myLocation.getCurrentPosition(success, failure, options);
		 
		 function success(position){
			myLat = position.coords.latitude;
			myLong = position.coords.longitude;
		 	//myLat = 44.439663;
		 	//myLong = 26.096306
		 	//myLat = 44.411379;
		 	//myLong = 26.172406;
		 	myLat = 44.435616
		 	myLong = 26.100850
			var localPosition = new google.maps.LatLng(myLat, myLong);

			map = new google.maps.Map(document.getElementById('map'), {
				center: localPosition,
				zoom: 15,
				scrollwheel: true
			});

			var request = {
				location: localPosition,
				radius: '1000',
				types: ['restaurant']
			};

			var service = new google.maps.places.PlacesService(map);
			service.nearbySearch(request, function(results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					restaurants_info = results;
					restaurants_names = []
					for (var i = 0; i < results.length; i++){
						restaurants_names.push(results[i]['name'])
					}

					var ul = document.getElementById("restaurantsList");
					for (let i = 0; i < restaurants_names.length; i++){
						let li = document.createElement("li");
						li.appendChild(document.createTextNode(restaurants_names[i]));
						li.classList.add("list-group-item");
						ul.appendChild(li);
					}

					for (var i = 0; i < results.length; i++){
						var myLatlng = results[i].geometry.location;

						var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + "FF0000",
        				new google.maps.Size(21, 34),
        				new google.maps.Point(0,0),
        				new google.maps.Point(10, 34));

					 	var marker = new google.maps.Marker({
							map: map,
							position: myLatlng,
							icon: pinImage
						});
						markers.push(marker);
					}
				}
			});
		}

		function failure(){
			$('#map').html('<p> Cannot get coordinates. Please activate your location tracking </p>');
		}
	}
   </script>
	{% endblock %}