{% extends 'layout.html' %}

{% block title %}Search for Restaurants{% endblock %}

{% block content %}
   <link rel="stylesheet" href="/static/css/search.css">

    <div id="map"></div>
	
	{% endblock %}	
	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe06JHnX5ODl9vT0MrKoPsb4gCRu06Tug&sensor=false&libraries=places" type="text/javascript"></script>
	 
	 <script>
	 myLocation = navigator.geolocation;
	 
	 options = {
		enableHighAccuracy: true,
	 }
	 myLocation.getCurrentPosition(success, failure, options);
	 
	 function success(position){
		myLat = position.coords.latitude;
		myLong = position.coords.longitude;
	 	// myLat = 44.439663;
	 	// myLong = 26.096306
		var localPosition = new google.maps.LatLng(myLat, myLong);

		var map = new google.maps.Map(document.getElementById('map'), {
			center: localPosition,
			zoom: 15,
			scrollwheel: true
		});

		var request = {
			location: localPosition,
			radius: '1000',
			types: ['restaurant']
		};
		
		var service = new google.maps.places.PlacesService(map);
		service.nearbySearch(request, function(results, status) {
			if (status == google.maps.places.PlacesServiceStatus.OK) {
				var restaurants_names = []
				for (var i = 0; i < results.length; i++){
					restaurants_names.push(results[i]['name'])
				}
				$.ajax({
				 	type: "GET",
				 	url: "a_little_test",
				 	data: JSON.stringify({'names': restaurants_names}),
				 	dataType: "json",
				 	success: function(result){
				 		console.log(result)
				 		for (var i = 0; i < result.length; i++){
				 			var lat_lng = result[i].split('T')

				 			var myLatlng = new google.maps.LatLng(parseFloat(lat_lng[0]), parseFloat(lat_lng[1]));

				 			var marker = new google.maps.Marker({
								map: map,
								position: myLatlng
							});
				 		}
				 	},
				 	error: function(XMLHttpRequest, textStatus, errorThrown) { 
			        	alert("Status: " + textStatus); alert("Error: " + errorThrown); 
			    	} 
				 });
			}
		});
		var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
		var marker = new google.maps.Marker({map: map, position: localPosition, icon: image});
	  }
	  
	  function failure(){
		$('#map').html('<p> Cannot get coordinates. Please activate your location tracking </p>');
	}

	// Run the initialize function when the window has finished loading.
	google.maps.event.addDomListener(window, 'load', initialize);
   </script>
	{% endblock %}