body {
	background: url(/static/images/header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
   display: grid;
}

#map {
	height: 300px;
	width: 100%;
}